h1 {
    border: 3px solid #000;
    border-radius: 10px;
    height: 100%;
    animation-name: fromtop;
    animation-duration: 2s;
}
@keyframes fromtop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}